:root {
  --main-bg-color: #deedf2;
  --shadow-color: #606060;
  --decr-color: #ff1e31;
  --incr-color: #399fff;
  --title-bar-color: #d4dde6;
  --random-box-color: #a2b6c0;
  --tooltip-color: #6c757d90;
  --credits-color: #808080;
  --faint-border-color: #e9ecef;
}

body {
  padding: 2em 0.25em 0em 0.25em;
  background-color: var(--main-bg-color);
}

#content {
  margin: auto;
  max-width: 36rem;
  text-align: center;
  background-color: var(--main-bg-color);
  border: 0;
  padding: 0em 0.75em;
}

#content-inner {
  background-color: var(--random-box-color);
  box-shadow: 1px 1px 5px var(--shadow-color);
}

#content .card-header {
  position: relative;
  padding: 0.75rem 0.5rem;
  background-color: var(--title-bar-color);
  border-bottom: 1px solid var(--shadow-color);
}

.card-header h2 {
  font-weight: bold;
  font-family: Helvetica;
  margin: 0;
}

.character {
  margin: 1% 4%;
  padding: 5px 5px 5px 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18pt;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
}

#char-name {
  grid-column-start: 2;
}

#char-img-container {
  grid-column-start: 3;
  justify-self: end;
  display: flex;
  align-content: center;
}

#char-img {
  height: 35px !important;
  width: 35px !important;
}

.btn {
  touch-action: manipulation;
}

.btn-push:active {
  transform: translate(1px, 1px);
}

#user-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4% 4% 0% 4%;
}

#user-controls > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

#game-select-container {
  justify-self: start;
}

#game-select {
  font-size: 1.75em;
  padding: 0px 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0;
  box-shadow: 1px 1px 2px var(--shadow-color);
  background-color: white;
  border: 1px solid var(--shadow-color);
}

#game-select:hover, #game-select:active {
  background-color: var(--main-bg-color);
}

#game-select img {
  width: 100%;
  padding-bottom: 20%;
}

#random-button {
  box-shadow: 1px 1px 5px var(--shadow-color);
}

#no-repeat-check-form {
  justify-self: end;
  font-size: 10pt;
}

#no-repeat-check-form .form-check-label {
  padding-top: 2px;
}

#roster-menu {
  text-align: center;
  margin: auto;
}

#roster-menu select {
  width: 14rem;
  text-align: center;
  margin: auto;
}

#refresh-roster {
  margin: 0px 0px 2px 12px;
  padding: 1px 0px 0px 1px;
  line-height: 10px;
  height: 28px;
  width: 28px;
  border: 0px;
  border-radius: 15px;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 1px 1px 2px var(--shadow-color);
  text-align: center;
}

.tooltip {
  font-size: 8pt;
}

.tooltip-inner {
  background-color: var(--tooltip-color);
}
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: var(--tooltip-color);
}
.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: var(--tooltip-color);
}

#char-list {
  display: grid;
  align-items: center;
  margin: auto;
  max-width: 65rem;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  justify-items: center;
}

#char-list *, .char-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* height: 30px !important; */
  /* width: 30px !important; */
}

.char-ctl {
  display: inline-grid;
  grid-template-columns: 36px 30px 30px 30px;
  grid-auto-rows: 36px;
  grid-gap: 10px;
  text-align: center;
  padding: 5px 1px 5px 1px;
}

.char-icon-btn {
  padding: 2px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 2px var(--shadow-color);
  background-color: white;
  cursor: pointer;
}

.char-icon-btn .char-icon {
  margin: auto;
  width: 100%;
}

.freq-ctl {
  height: 32px;
  width: 32px;
  margin-top: 1px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  line-height: 1rem;
  box-shadow: 1px 1px 2px var(--shadow-color);
  border: 0px;
  color: black;
}

.decr {
  padding: 7px 0px 0px 1px;
  color: var(--decr-color);
}

.incr {
  padding: 7px 0px 0px 1px;
  color: var(--incr-color);
}

label.freq {
  height: 32px;
  width: 32px;
  margin-top: 1px;
  padding-top: 1px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 2px var(--shadow-color);
  font-size: 14pt;
  font-weight: bold;
}

#icon-credits {
  text-align: center;
  color: var(--credits-color);
  font-size: 7pt;
  padding: 0.75rem 0rem;
}

/* Game Select Modal */

#game-select-modal {
  /* position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 310px;
  transform: translate(-50%, -33%); */
  margin-top: 10%;
}

#game-select-modal .modal-content > div {
  display: block;
  text-align: center;
  padding: 0.7rem;
}

#game-select-modal .modal-body {
  padding: 0 !important;
}

#game-select-table {
  display: grid;
  grid-template-columns: 7fr 1fr;
  text-align: left;
  align-content: center;
}

#game-select-table > div {
  border-top: 1px solid var(--faint-border-color);
  padding: 0.75rem 0.75rem;
}

.game-select-radio {
  text-align: center;
}

#game-select-table > div:nth-child(1), #game-select-table > div:nth-child(2) {
  border-top: none;
}

#game-select-modal .modal-footer button {
  width: 5rem;
  padding: 0.2rem 0.5rem;
}

/* Mobile */

@media only screen and (max-width: 767px) {

  .character {
    margin: 1% 1%;
  }

  .card-body {
    padding: 0.5rem;
  }

  #char-name {
    font-size: 14pt;
  }

  #user-controls {
    grid-template-columns: 1fr 4fr 1fr;
    margin: 4% 0% 0% 0%;
  }

  #game-select-container {
    grid-row: 2;
    grid-column-start: 1;
  }

  #random-button-container {
    grid-row: 1;
    grid-column-start: 2;
  }

  #no-repeat-check-form {
    grid-row: 2;
    grid-column-start: 2;
    justify-self: center;
  }

  .tooltip-inner, .tooltip.bs-tooltip-right .arrow:before, .tooltip.bs-tooltip-left .arrow:before {
    visibility: hidden;
  }
}